In [1]:
import numpy as np
import pandas as pd
from rdkit import Chem
from rdkit.Chem import AllChem

In [2]:
smiles= pd.read_csv('D:\\01Paper\\paper4\\code\\code\\UniSyn\\data_preprocessing\\drug_smiles.csv',index_col=0)

In [3]:
smiles

,Drug,SMILES
0,(+)-Bicuculline,CN1CCC2=CC3=C(C=C2C1C4C5=C(C6=C(C=C5)OCO6)C(=O...
1,(+)-Blebbistatin,CC1=CC2=C(C=C1)N=C3C(C2=O)(CCN3C4=CC=CC=C4)O
2,(+)-PD 128907 hydrochloride,CCCN1CCOC2C1COC3=C2C=C(C=C3)O.Cl
3,(+)-Usnic acid,CC1=C(C(=C2C(=C1O)C3(C(=CC(=C(C3=O)C(=O)C)O)O2...
5,(-)-Blebbistatin,CC1=CC2=C(C=C1)N=C3C(C2=O)(CCN3C4=CC=CC=C4)O
...,...,...
4370,Saquinavir mesylate,CC(C)(C)NC(=O)C1CC2CCCCC2CN1CC(C(CC3=CC=CC=C3)...
4371,GS-441524,C1=C2C(=NC=NN2C(=C1)C3(C(C(C(O3)CO)O)O)C#N)N
4372,AZ13245620,NaN
4373,Cefotiam hcl,CN(C)CCn1nnnc1SCC1=C(C(=O)O)N2C(=O)[C@@H](NC(=...
4374,Cephaeline Hydrobromide,CCC1CN2CCC3=CC(=C(C=C3C2CC1CC4C5=CC(=C(C=C5CCN...

In [4]:
drugmap = np.load('D:\\01Paper\\paper4\\code\\code\\UniSyn\\data_preprocessing\\Drug_map.npy',allow_pickle=True)

In [5]:
if isinstance(drugmap, np.ndarray) and drugmap.ndim == 0:
    drugmap = drugmap.item()

In [6]:
selected_drugs = smiles[smiles['Drug'].isin(drugmap.keys())]

In [7]:
selected_drugs

,Drug,SMILES
0,(+)-Bicuculline,CN1CCC2=CC3=C(C=C2C1C4C5=C(C6=C(C=C5)OCO6)C(=O...
2,(+)-PD 128907 hydrochloride,CCCN1CCOC2C1COC3=C2C=C(C=C3)O.Cl
3,(+)-Usnic acid,CC1=C(C(=C2C(=C1O)C3(C(=CC(=C(C3=O)C(=O)C)O)O2...
5,(-)-Blebbistatin,CC1=CC2=C(C=C1)N=C3C(C2=O)(CCN3C4=CC=CC=C4)O
6,(-)-Epigallocatechin gallate,C1C(C(OC2=CC(=CC(=C21)O)O)C3=CC(=C(C(=C3)O)O)O...
...,...,...
4361,AZ13036220,CS(=O)(=O)c1ccc(Nc2cncc(n2)c3cnc4ccccn34)cc1
4362,CHEMBL2325704,CS(=O)(=O)C1(CC1)C2=CC(=NC(=N2)C3=C4C=CNC4=CC=...
4363,IGF-OSI,C[C@@]1(O)C[C@@H](C1)c2nc(c3ccc4ccc(nc4c3)c5cc...
4364,SCHEMBL1557791,CC1=NN(C=C1NC2=NC=C(C(=C2)NC3=CC=CC=C3C(=O)NC)...
4365,SCHEMBL3313928,CC(C(=O)N1CCC(CC1)C2=CC(=C(C=C2)NC3=NC=C(C(=N3...

In [8]:
selected_drugs = selected_drugs.set_index('Drug').loc[list(drugmap.keys())].reset_index()

In [9]:
selected_drugs

,Drug,SMILES
0,(+)-Bicuculline,CN1CCC2=CC3=C(C=C2C1C4C5=C(C6=C(C=C5)OCO6)C(=O...
1,(+)-PD 128907 hydrochloride,CCCN1CCOC2C1COC3=C2C=C(C=C3)O.Cl
2,(+)-Usnic acid,CC1=C(C(=C2C(=C1O)C3(C(=CC(=C(C3=O)C(=O)C)O)O2...
3,(-)-Blebbistatin,CC1=CC2=C(C=C1)N=C3C(C2=O)(CCN3C4=CC=CC=C4)O
4,(-)-Epigallocatechin gallate,C1C(C(OC2=CC(=CC(=C21)O)O)C3=CC(=C(C(=C3)O)O)O...
...,...,...
3118,IGF-OSI,C[C@@]1(O)C[C@@H](C1)c2nc(c3ccc4ccc(nc4c3)c5cc...
3119,LSM-4270,CC1=C2C(C(=O)C3(C(CC4C(C3C(C(C2(C)C)(CC1OC(=O)...
3120,SCHEMBL1557791,CC1=NN(C=C1NC2=NC=C(C(=C2)NC3=CC=CC=C3C(=O)NC)...
3121,SCHEMBL1559365,CC1=NN(C=C1NC2=NC=C(C(=C2)NC3=C(C=C(C=C3)F)C(=...
3122,SCHEMBL3313928,CC(C(=O)N1CCC(CC1)C2=CC(=C(C=C2)NC3=NC=C(C(=N3...

In [10]:
selected_drugs.to_csv('D:\\01Paper\\paper4\\code\\code\\UniSyn\\data_preprocessing\\Drug_smiles.csv')

In [11]:
drugs=selected_drugs['SMILES'].tolist()

In [12]:
from rdkit import Chem
from rdkit.Chem import AllChem

In [13]:
radius = 3  
nBits = 1024 
fingerprints = []
for smiles in drugs:
    mol = Chem.MolFromSmiles(smiles)
    if mol:
        fp = AllChem.GetMorganFingerprintAsBitVect(mol, radius=radius, nBits=nBits)
        fp_array = np.array(fp)  
        fingerprints.append(fp_array)
    else:
        print(f"Invalid SMILES: {smiles}")

In [14]:
type(fingerprints)

list

In [15]:
# **转换为 Pandas DataFrame**
df = pd.DataFrame(fingerprints, columns=[f"{i}" for i in range(nBits)])

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3119,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3122,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [17]:
df.insert(0, "id", df.index)

In [18]:
df

,id,0,1,2,3,4,5,6,7,8,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,3118,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3119,3119,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3120,3120,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3121,3121,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3122,3122,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [19]:
df.to_csv('D:\\01Paper\\paper4\\code\\code\\UniSyn\\data_preprocessing\\Drug_use.csv',index=False)